* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    /* background: #FBFFF1; */
    background: #030303;
}

.logo-bar img {
    width: 100%;
    margin-bottom: 50px;
}

.main-body {
    display: flex;
    gap: 100px;
    width: 100%;
    height: 100vh;
    padding: 3vw;
    justify-content: center;
    margin: 0 auto;
}

.left-side {
    width: 20%;
    height: 100vh;
}

.navbar {
    position: sticky;
    z-index: 0;
    top: 3vw;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
    height: 100vh;
}

.img-section {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.img-section.img-active {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
}

.navbar-li {
    list-style: none;
    margin-bottom: 15px;
}

.navbar-li a {
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.navbar-li a:hover {
    font-size: 26px;
    font-weight: 600;
}

.navbar-li.active {
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
    color: #fff;
}

.gallery {
  column-count: 2;
  column-gap: 15px;
}

.gallery img {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  border-radius: 8px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.01);
}

.section-text {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

/* ============ mobile ============ */
